<%= stylesheet_link_tag('application')%>
<h1 id="title">Greeting</h1>
<form method="get" action="/greeting">
	<div id="submitBtn">
		<p id="question">Full Name : 
		<input type="text" name="name"/></p>
		<p id="question">Age : 
		<input type="number" name="age"/></p>
		<button id="subBtn" type="submit">
		submit
		</button>
	</div>
	
</form>
